.section-services {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
    flex-direction: row !important;
    margin-top: 54px;
}

#services>.Typewriter {
    position: relative;
    font-size: 2vw;
    line-height: 0vw;
    color: white;
}

.services-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

section>.Typewriter {
    display: none;
}

a {
    background-color: white;
    width: 2em;
    height: 2em;
    position: relative;
    /* z-index: 99; */
    margin-top: 85vh;
    margin-right: 4vw;
    margin-left: 4vw;
    transform:rotate(45deg);
}


@media (min-device-width: 350px) and (max-device-width: 850px) {

    #services>.Typewriter {
        position: relative;
        font-size: 10vw;
        line-height: 0vw;
        color: white;
    }

    #services>.Typewriter {
        display: hidden;
    }

    .section-services {
        flex-direction: row;
    }

}