.card{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column !important;
    height: 60vh;
    width: 25vw;
    background-color: white;
    border: 2px solid black;
    box-shadow: 8px 8px 0  black;
    margin-right: 5vw;
    border-radius: 2px;
    color: black;
}

.card button{
    align-self: center;
    padding: 1vw 3vw;
    font-size: large;
    font-family: 'Fira Mono', monospace;
    border: 2px solid black;
    box-shadow: 5px 5px 0  black;
    background-color: white;
    color: black;
}

.card button:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.card svg{
    width: 12vw;
    height: 25vh;
    border: 2px solid black;
    box-shadow: 5px 5px 0  black;
    object-fit:cover;
    object-position:50% 50%; 
}

.card svg:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.card h1{
    font-family: 'Fira Mono', monospace;
    font-weight: lighter;
}

.card:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.card p{
    text-align: center;
     margin: 20px;
}

@media (min-device-width: 350px) and (max-device-width: 850px) {

    .card{
        margin-left: -20%;
        width: 140%;
        height: 100%;
    }
    .card svg{
        width: 50%;
        height: 50%;
    }
}