.card{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column !important;
    height: 60vh;
    width: 26vw;
    background-color: black;
    border: 2px solid white;
    box-shadow: 8px 8px 0  white;
    margin-right: 5vw;
    border-radius: 2px;
    color: white;
}

.card button{
    align-self: center;
    padding: 1vw 3vw;
    font-size: large;
    font-family: 'Fira Mono', monospace;
    border: 2px solid white;
    box-shadow: 5px 5px 0  white;
    background-color: black;
    color: white;
}

.card button:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.card svg{
    width: 12vw;
    height: 25vh;
    object-fit:cover;
    object-position:50% 50%; 
}

.card h1{
    font-family: 'Fira Mono', monospace;
    font-weight: lighter;
}

.card:hover{
    box-shadow: 
    2px 2px 0  violet,
    4px 4px 0  indigo,
    6px 6px 0  blue,
    8px 8px 0  green,
    10px 10px 0  yellow,
    12px 12px 0  orange,
    14px 14px 0  red;
}

.card p{
    text-align: center;
     margin: 20px;
     font-size: 2.5vh;
     font-family: 'Fira Mono', monospace;
}

@media (min-device-width: 350px) and (max-device-width: 850px) {

    .card{
        width: 60%;
        height: 80%;            
        position: absolute;
        top: 10vh;
        left: 10vw;
    }
    .card svg{
        width: 90%;
        height: 90%;
        object-fit:cover;
        object-position:0% 0%; 
        }

    .card h1{
        font-size: 4vh;
    }
    .card p{
        font-size: 4vh;
    }

    .card button{

        font-size: 3vh;

    }
}