@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body, html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.App {
    font-family: sans-serif;
    text-align: center;
    height: 5000px;
  }
  
  .fixed-center {
    position: fixed;
    top: 50%;
    left: 40%;
  }
  